.groups {
  width: 50%;
  float: left;
}

.details {
  width: 44%;
  float: right;
}

.groups, .details {
  height: 95%;
  overflow: auto;
}

.details .payload {
  padding-left: 15px;
}

#events .pause {
  float: right;
  margin: 0 25px 10px 0;
}

#events .tools {
  width: 100%;
  overflow: hidden;
}

#events ul.events {
  display: none;
  list-style-type: none;
  margin-left: 15px;
}

#events ul.events li.highlighted {
  font-weight: bold;
}

#events ul.events .message {
  cursor: pointer;
}

#events ul.groups .group {
  display: none;
}

#events ul.groups .group.visible {
  display: block;
}

#events ul.groups .group > .title {
  cursor: pointer;
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

#events .filter {
  margin-left: 18px;
}

body {
  height: 100%;
}

#page.container {
  position: relative;
}

#events {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

#events .container-fluid .row-fluid {
  overflow: hidden;
}

.details .open-in-new-window {
  height: 1.2em;
  font-size: 0.9em;
  margin-bottom: 5px;
  padding-top: 2px;
}

.details .payload {
  margin-top: 10px;
}
